/* SSB UI Style */
#google_translate_element {
    position: fixed;
    /*bottom: 0;*/
	z-index: 1;
}

.goog-te-combo{
    background:#fafdfe;
    height:28px;
    width:150px;
    line-height:28px;
    border:1px solid #9bc0dd;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}

#goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
.goog-text-highlight { background: none !important; box-shadow: none !important;}

.goog-logo-link{display: none !important;}
.goog-te-gadget{height: 28px !important;  overflow: hidden;}

body{ top: 0 !important;}
.goog-te-banner-frame{display: none !important;}

/*.goog-logo-link {*/
/*    display: none;*/
/*}*/

.ssb-btns-top-right {
    right: 2%;
    top: 0;
}

.ssb-btns-top-left {
    left: 2%;
    top: 0;
}

.ssb-btns-bottom-right {
    right: 2%;
    bottom: 0;
}

.ssb-btns-bottom-left {
    left: 2%;
    bottom: 0;
}

#google_translate_element ul {
    padding: 0;
    margin: 0;
}

#google_translate_element ul li {
    list-style: none;
    margin: 0;
}

#google_translate_element ul li {
    line-height: 45px;
}

#google_translate_element ul li p {
    margin: 0;
}

#google_translate_element ul li a {
    padding: 0 15px 0 0;
    display: block;
    line-height: 45px;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
}

#google_translate_element ul li span {
    line-height: 45px;
    width: 50px;
    text-align: center;
    display: inline-block;
}

#google_translate_element.ssb-btns-left ul li a {
    text-align: right;
    padding: 0 0 0 15px;
}

#google_translate_element.ssb-btns-left ul li span {
    float: right;
}

#google_translate_element ul li a:hover {
    text-decoration: none;
}

#google_translate_element .ssb-share-btn {
    position: relative;
}

#google_translate_element .ssb-share-btn span,
#google_translate_element.ssb-btns-left .ssb-share-btn span {
    float: none;
}

#google_translate_element .ssb-share-btn a {
    padding: 0;
}

#google_translate_element.ssb-btns-left .ssb-share-btn i.ssb-share-icon {
    float: right !important;
}

#google_translate_element.ssb-anim-icons ul li {
    transition: transform 100ms;
}

#google_translate_element.ssb-anim-icons.ssb-btns-right ul li:hover {
    transform: translate(-15px, 0);
}

#google_translate_element.ssb-anim-icons.ssb-btns-left ul li:hover {
    transform: translate(15px, 0);
}

#google_translate_element ul li.ssb-share-btn:hover .ssb-social-popup {
    display: block;
}

.ssb-social-popup {
    position: absolute;
    top: 100%;
    left: 100%;
    margin: 0 0 0 -50px;
    width: 155px;
    display: none;
}

#google_translate_element.ssb-btns-right .ssb-social-popup {
    right: -100%;
    margin: 0 0 0 -110px;
    left: 0;
}

#google_translate_element .ssb-social-popup a {
    padding: 0 !important;
    text-align: left !important;
}

/* Responsive */
@media (max-width: 640px) {
    .ssb-disable-on-mobile {
        display: none;
    }
}